* {
  padding: 0;
  margin: 0; }

main {
  background-image: url(../image/bgmain.jpg);
  background-size: cover;
  background-attachment: fixed; }
  main .info__pkth {
    background-color: rgba(15, 111, 163, 0.6);
    width: 100%;
    height: 780px; }
    main .info__pkth .main__about__us {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: 120px 660px; }
      main .info__pkth .main__about__us .about__us__title {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 50% 50%; }
        main .info__pkth .main__about__us .about__us__title h1 {
          font-family: 'Arial', sans-serif;
          font-weight: 700;
          font-size: 24px;
          color: #ffffff;
          align-self: center;
          text-align: center; }
      main .info__pkth .main__about__us .about__us__advantage {
        display: grid;
        grid-template-rows: 270px 390px;
        background-color: rgba(13, 98, 143, 0.8); }
        main .info__pkth .main__about__us .about__us__advantage .advantage__text {
          align-self: center;
          justify-self: center;
          max-width: 80%; }
          main .info__pkth .main__about__us .about__us__advantage .advantage__text p {
            font-family: 'Arial', sans-serif;
            font-weight: 400;
            font-size: 17px;
            color: #ffffff;
            text-align: center;
            line-height: 19px; }
        main .info__pkth .main__about__us .about__us__advantage .advantages {
          display: grid;
          grid-template-columns: repeat(6, 185px);
          grid-template-rows: 75%;
          justify-content: center; }
          main .info__pkth .main__about__us .about__us__advantage .advantages .advantage__content {
            display: grid;
            grid-template-rows: 185px 90px;
            grid-row-gap: 20px;
            justify-items: center;
            align-items: center;
            position: relative;
            background-color: #12435A;
            border: 2px solid #ffffff;
            border-right: 1px solid #ffffff;
            border-left: 1px solid #ffffff; }
            main .info__pkth .main__about__us .about__us__advantage .advantages .advantage__content span {
              position: absolute;
              width: 150px;
              height: 150px;
              border-radius: 50%;
              background-color: #5B798B;
              border: 1px solid #ffffff;
              grid-area: 1/1/2/2;
              z-index: 4; }
            main .info__pkth .main__about__us .about__us__advantage .advantages .advantage__content img {
              max-width: 120px;
              z-index: 5; }
            main .info__pkth .main__about__us .about__us__advantage .advantages .advantage__content h2 {
              font-family: 'Arial', sans-serif;
              font-weight: 700;
              font-size: 18px;
              text-align: center;
              align-self: start;
              color: #ffffff;
              max-width: 135px; }
          main .info__pkth .main__about__us .about__us__advantage .advantages .advantage__content:first-child {
            border-left: 2px solid #ffffff; }
          main .info__pkth .main__about__us .about__us__advantage .advantages .advantage__content:last-child {
            border-right: 2px solid #ffffff; }
  main .heaters {
    background-color: rgba(255, 255, 255, 0.9);
    background-size: cover;
    width: 100%; }
    main .heaters .heaters__content {
      display: grid;
      grid-template-rows: 122px 615px 2px 615px 2px;
      grid-template-columns: 100%;
      align-items: center;
      justify-items: center;
      background-color: #ffffff; }
      main .heaters .heaters__content span {
        width: 100%;
        height: 2px;
        background-color: #424242; }
      main .heaters .heaters__content .heaters__title {
        display: grid;
        grid-template-rows: 120px 2px;
        width: 100%; }
        main .heaters .heaters__content .heaters__title h1 {
          font-family: 'Arial', sans-serif;
          font-weight: 700;
          text-align: center;
          align-self: center;
          font-size: 34px;
          color: #000000;
          text-transform: uppercase; }
        main .heaters .heaters__content .heaters__title span {
          width: 100%;
          height: 2px;
          background-color: #424242; }
      main .heaters .heaters__content .heaters__type {
        display: grid;
        grid-template-rows: 160px 330px 130px;
        align-items: center;
        justify-content: center; }
        main .heaters .heaters__content .heaters__type h2 {
          font-family: 'Arial', sans-serif;
          font-weight: 400;
          font-size: 34px;
          color: #000000;
          text-align: center;
          text-transform: uppercase; }
        main .heaters .heaters__content .heaters__type .type__content {
          display: grid;
          grid-template-columns: 36.7521367521% 64.1025641026%;
          grid-template-rows: 330px;
          align-items: center;
          justify-self: center;
          width: 96.5811965812%; }
          main .heaters .heaters__content .heaters__type .type__content .type__left {
            border: 2px solid #213A54;
            border-right: 1px solid #213A54; }
            main .heaters .heaters__content .heaters__type .type__content .type__left img {
              max-width: 330px;
              justify-self: center;
              align-items: center; }

/*# sourceMappingURL=main.css.map */
