main {
  background-image: url(../image/bgheaters.jpg);
  background-size: cover; }
  main .nichtometape {
    background-color: rgba(255, 255, 255, 0.2);
    background-size: cover;
    width: 100%;
    padding-bottom: 50px; }
    main .nichtometape .nichtometape__content {
      display: grid;
      grid-template-rows: auto;
      grid-row-gap: 50px;
      grid-template-columns: 100%;
      align-items: center;
      justify-items: center;
      background-color: #ffffff; }
      main .nichtometape .nichtometape__content .nichtometape__title {
        display: grid;
        grid-template-rows: 120px 2px;
        width: 100%; }
        main .nichtometape .nichtometape__content .nichtometape__title h1 {
          font-family: 'Arial', sans-serif;
          font-weight: 700;
          text-align: center;
          align-self: center;
          font-size: 34px;
          color: #000000;
          text-transform: uppercase; }
        main .nichtometape .nichtometape__content .nichtometape__title span {
          width: 100%;
          height: 2px;
          background-color: #424242; }
      main .nichtometape .nichtometape__content .nichtometape__type {
        display: grid;
        grid-template-rows: 330px 130px;
        grid-row-gap: 80px;
        align-items: center;
        justify-items: center; }
        main .nichtometape .nichtometape__content .nichtometape__type .type__content {
          display: grid;
          grid-template-columns: 36.7521367521% 59.8290598291%;
          grid-template-rows: 330px;
          align-items: center;
          justify-content: center; }
          main .nichtometape .nichtometape__content .nichtometape__type .type__content .type__left {
            display: grid;
            justify-items: center;
            align-items: center;
            border-right: 0px;
            width: 100%;
            height: 100%; }
            main .nichtometape .nichtometape__content .nichtometape__type .type__content .type__left img {
              max-width: 90%;
              width: 100%;
              max-height: 100%;
              justify-self: center;
              align-self: center; }
          main .nichtometape .nichtometape__content .nichtometape__type .type__content .type__about {
            height: 100%;
            display: grid;
            align-items: center;
            justify-items: center;
            font-family: 'Arial', sans-serif;
            font-weight: 400;
            font-size: 18px; }
            main .nichtometape .nichtometape__content .nichtometape__type .type__content .type__about .text {
              max-width: 90%;
              max-height: 90%;
              display: grid;
              grid-row-gap: 80px; }
              main .nichtometape .nichtometape__content .nichtometape__type .type__content .type__about .text span {
                font-weight: 700; }
              main .nichtometape .nichtometape__content .nichtometape__type .type__content .type__about .text p {
                width: 100%;
                text-align: center;
                align-self: start; }
              main .nichtometape .nichtometape__content .nichtometape__type .type__content .type__about .text ul {
                align-self: left; }
                main .nichtometape .nichtometape__content .nichtometape__type .type__content .type__about .text ul p {
                  text-align: left; }
        main .nichtometape .nichtometape__content .nichtometape__type .tohtml {
          display: grid;
          width: 29.0598290598%;
          height: 50px;
          background-color: #1294db;
          text-decoration: none; }
          main .nichtometape .nichtometape__content .nichtometape__type .tohtml p {
            font-family: 'Arial', sans-serif;
            font-weight: 400;
            color: #ffffff;
            text-align: center;
            align-self: center;
            font-size: 20px; }
        main .nichtometape .nichtometape__content .nichtometape__type .tohtml:hover {
          cursor: pointer;
          background-color: #0f77af; }

/*# sourceMappingURL=nichrometape.css.map */
