/*
Error: Invalid property: "grid-template-rows:" (no value).
        on line 152 of D:\gitprojects\technology\styles\plasticmolding.sass

147:                     grid-template-columns: repeat(3,1fr)
148:                     //grid-column-gap: 
149: 
150:                     .product__container
151:                         display: grid
152:                         grid-template-rows: 
153: 
154:                
155:                     
156:             .tohtml
157:                 display: grid

Backtrace:
D:\gitprojects\technology\styles\plasticmolding.sass:152
D:/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:759:in `parse_property'
D:/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:708:in `parse_property_or_rule'
D:/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:667:in `parse_line'
D:/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:540:in `build_tree'
D:/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:559:in `block in append_children'
D:/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:558:in `each'
D:/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:558:in `append_children'
D:/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:549:in `block in build_tree'
D:/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:542:in `each'
D:/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:542:in `build_tree'
D:/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:559:in `block in append_children'
D:/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:558:in `each'
D:/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:558:in `append_children'
D:/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:549:in `block in build_tree'
D:/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:542:in `each'
D:/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:542:in `build_tree'
D:/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:559:in `block in append_children'
D:/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:558:in `each'
D:/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:558:in `append_children'
D:/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:549:in `block in build_tree'
D:/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:542:in `each'
D:/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:542:in `build_tree'
D:/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:559:in `block in append_children'
D:/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:558:in `each'
D:/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:558:in `append_children'
D:/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:549:in `block in build_tree'
D:/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:542:in `each'
D:/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:542:in `build_tree'
D:/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:559:in `block in append_children'
D:/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:558:in `each'
D:/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:558:in `append_children'
D:/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:549:in `block in build_tree'
D:/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:542:in `each'
D:/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:542:in `build_tree'
D:/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:559:in `block in append_children'
D:/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:558:in `each'
D:/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:558:in `append_children'
D:/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:549:in `block in build_tree'
D:/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:542:in `each'
D:/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:542:in `build_tree'
D:/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:559:in `block in append_children'
D:/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:558:in `each'
D:/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:558:in `append_children'
D:/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:417:in `_to_tree'
D:/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:389:in `_render_with_sourcemap'
D:/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:307:in `render_with_sourcemap'
D:/koala/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:391:in `run'
D:/koala/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:63:in `process_result'
D:/koala/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:52:in `parse'
D:/koala/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:19:in `parse!'
D:/koala/rubygems/gems/sass-3.5.2/bin/sass:13:in `<top (required)>'
D:/koala/bin/sass:22:in `load'
D:/koala/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid property: \"grid-template-rows:\" (no value).\A         on line 152 of D:\gitprojects\technology\styles\plasticmolding.sass\A \A 147:                     grid-template-columns: repeat(3,1fr)\A 148:                     //grid-column-gap: \A 149: \A 150:                     .product__container\A 151:                         display: grid\A 152:                         grid-template-rows: \A 153: \A 154:                \A 155:                     \A 156:             .tohtml\A 157:                 display: grid"; }
