* {
  padding: 0;
  margin: 0; }

.container {
  max-width: 1190px;
  padding: 0 10px 0 10px;
  margin: 0 auto; }

header {
  width: 100%;
  height: 130px;
  padding: 10px 0 10px 0; }
  header .header__content {
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 30.7692307692%);
    grid-column-gap: 3.8461538462%; }
    header .header__content .header__logo {
      display: grid;
      grid-template-columns: 30% 70%; }
      header .header__content .header__logo img {
        max-width: 100%;
        max-height: 130px;
        justify-self: center;
        align-self: center; }
      header .header__content .header__logo .header__logo__title {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto; }
        header .header__content .header__logo .header__logo__title .pk {
          font-family: 'Oranienbaum', serif;
          font-weight: 400;
          font-size: 20px;
          align-self: center;
          text-align: center; }
          header .header__content .header__logo .header__logo__title .pk span {
            font-size: 28px; }
    header .header__content .header__contact__info {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: 55px 55px 20px; }
      header .header__content .header__contact__info .header__contact__phone__first {
        display: grid;
        grid-template-columns: 8.3333333333% 83.3333333333% 8.3333333333%;
        grid-template-rows: auto; }
        header .header__content .header__contact__info .header__contact__phone__first a {
          text-decoration: none;
          text-align: center;
          align-self: center;
          color: #000000;
          font-size: 25px;
          font-family: 'Arial', sans-serif;
          font-weight: 700; }
        header .header__content .header__contact__info .header__contact__phone__first img {
          max-width: 30px;
          justify-self: center; }
      header .header__content .header__contact__info .header__contact__phone__second {
        display: grid;
        grid-template-columns: 8.3333333333% 83.3333333333% 8.3333333333%;
        grid-template-rows: auto; }
        header .header__content .header__contact__info .header__contact__phone__second a {
          text-decoration: none;
          text-align: center;
          align-self: center;
          color: #000000;
          font-size: 25px;
          font-family: 'Arial', sans-serif;
          font-weight: 700; }
        header .header__content .header__contact__info .header__contact__phone__second img {
          max-width: 30px;
          justify-self: center; }
      header .header__content .header__contact__info .dostavka {
        text-align: center;
        font-size: 20px;
        color: #0F6FA3;
        font-family: 'Arial', sans-serif;
        font-weight: 700; }
        header .header__content .header__contact__info .dostavka a {
          text-decoration: none;
          color: #0F6FA3; }
    header .header__content .header__aboutus {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: repeat(2, 40px) 50px; }
      header .header__content .header__aboutus .header__obl {
        font-family: 'Arial', sans-serif;
        font-weight: 700;
        font-size: 20px;
        align-self: end;
        text-align: right; }
      header .header__content .header__aboutus .header__city {
        font-family: 'Arial', sans-serif;
        font-weight: 700;
        font-size: 20px;
        color: #2F2E2E;
        align-self: end;
        text-align: right; }
      header .header__content .header__aboutus a {
        font-family: 'Arial', sans-serif;
        font-weight: 700;
        font-size: 18px;
        color: #474747;
        align-self: end;
        text-align: right; }

nav {
  width: 100%;
  height: 50px;
  background-color: #213A54; }
  nav ul {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 50px;
    list-style: none; }
    nav ul li {
      text-align: center;
      align-self: center; }
      nav ul li a {
        text-decoration: none;
        color: #ffffff;
        font-family: 'Arial', sans-serif;
        font-weight: 400;
        font-size: 12px; }

/*# sourceMappingURL=style.css.map */
