@import fonts

*
    padding: 0
    margin: 0

body
    min-height: 100%
    display: grid
    grid-template-rows: 1fr auto

.container
    max-width: 1190px
    padding: 0 10px 0 10px
    margin: 0 auto

.menu__paralax
    margin: 0
    position: fixed
    top: 0

header
    width: 100%
    height: 130px
    padding: 10px 0 10px 0

    .header__content
        width: 100%
        display: grid
        grid-template-rows: auto
        grid-template-columns: repeat(3,360px/1170px*100%)
        grid-column-gap: 45px/1170px*100%

        .header__logo
            display: grid
            grid-template-columns: 30% 70%

            img
                max-width: 100%
                max-height: 130px
                justify-self: center
                align-self: center

            .header__logo__title
                display: grid
                grid-template-columns: auto
                grid-template-rows: auto

                .pk
                    +oran
                    +regular
                    font-size: 20px
                    align-self: center
                    text-align: center

                    span
                        font-size: 28px
        
        .header__contact__info
            display: grid
            grid-template-columns: auto
            grid-template-rows: 55px 55px 20px

            .header__contact__phone__first
                display: grid
                grid-template-columns: 30px/360px*100% 300px/360px*100% 30px/360px*100%
                grid-template-rows: auto

                a
                    text-decoration: none   
                    text-align: center
                    align-self: center
                    color: #000000
                    font-size: 25px
                    +arial
                    +bold

                img
                    max-width: 30px
                    justify-self: center
            
            .header__contact__phone__second
                display: grid
                grid-template-columns: 30px/360px*100% 300px/360px*100% 30px/360px*100%
                grid-template-rows: auto

                a
                    text-decoration: none   
                    text-align: center
                    align-self: center
                    color: #000000
                    font-size: 25px
                    +arial
                    +bold

                img
                    max-width: 30px
                    justify-self: center

            .dostavka
                text-align: center
                font-size: 20px
                color: #0F6FA3
                +arial
                +bold
                a
                    text-decoration: none
                    color: #0F6FA3
        .header__aboutus
            display: grid
            grid-template-columns: auto
            grid-template-rows: repeat(2,40px) 50px

            .header__obl
                +arial
                +bold
                font-size: 20px
                align-self: end
                text-align: right
            .header__city
                +arial
                +bold
                font-size: 20px 
                color: #2F2E2E
                align-self: end
                text-align: right
                
            a
                +arial
                +bold
                font-size: 18px
                color: #474747
                align-self: end
                text-align: right

nav
    margin-top: 10px
    width: 100%
    height: 50px
    background-color: #213A54
    z-index: 100

    .topmenu
        display: grid
        grid-template-columns: repeat(7,auto)
        grid-template-rows: 50px
        list-style: none

        li
            height: 100%
            display: grid
            grid-template-columns: auto
            grid-template-rows: 100%
            text-align: center
            align-self: center
            position: relative
            border-left: 1px solid #ffffff


            a
                display: block
                align-self: center
                text-decoration: none
                outline: none
                color: #ffffff
                +arial
                +regular
                font-size: 12px
            
            .sub__menu
                position: absolute
                top: 100%
                left: 0
                min-width: 100%
                z-index: 10
                -webkit-transition: 0.5s ease-in-out
                -moz-transition: 0.5s ease-in-out
                -o-transition: 0.5s ease-in-out
                transition: 0.5s ease-in-out
                background-color: #213A54
                box-shadow: 0 0 10px  #0e1b27
                display: none

                li
                    height: 30px
                    border-bottom: 1px solid #ffffff
                    border-left: none
                    border-right: none

                    a
                        align-self: center
                li:last-child
                    border-bottom: none
                

        li:first-child
            border-left: none
        li:last-child
            border-right: none
        
        li:hover
            cursor: pointer
            background-color: #1d2f44
            -webkit-transition: 0.5s ease-in-out
            -moz-transition: 0.5s ease-in-out
            -o-transition: 0.5s ease-in-out
            transition: 0.5s ease-in-out
            .sub__menu
                display: block
            .sub__menu:hover
                display: block

main           
    background-image: url(../image/bgmain.jpg)
    background-size: cover
    background-attachment: fixed

    .info__pkth
        background-color: rgba(15, 111, 163, 0.6)
        top: 0
        left: 0 
        width: 100%
        height: 780px


        .main__about__us
            display: grid
            grid-template-columns: auto
            grid-template-rows: 120px 660px

            .about__us__title
                display: grid
                grid-template-columns: auto
                grid-template-rows: 50% 50%

                h1
                    +arial
                    +bold
                    font-size: 24px
                    color: #ffffff
                    align-self: center
                    text-align: center

            .about__us__advantage
                display: grid
                grid-template-rows: 270px 390px
                background-color: rgba(13, 98, 143, 0.8)

                .advantage__text
                    align-self: center
                    justify-self: center
                    max-width: 80%

                    p
                        +arial
                        +regular
                        font-size: 17px
                        color: #ffffff
                        text-align: center
                        line-height: 19px
                
                .advantages
                    display: grid
                    grid-template-columns: repeat(6,185px)
                    grid-template-rows: 75%
                    justify-content: center

                    .advantage__content
                        display: grid
                        grid-template-rows: 185px 90px
                        grid-row-gap: 20px
                        justify-items: center
                        align-items: center
                        position: relative
                        background-color: #12435A
                        border: 2px solid #ffffff
                        border-right: 1px solid #ffffff
                        border-left: 1px solid #ffffff
                    

                        span
                            position: absolute
                            width: 150px
                            height: 150px
                            border-radius: 50%
                            background-color: #5B798B
                            border: 1px solid #ffffff
                            grid-area: 1/1/2/2
                            z-index: 4

                        img
                            max-width: 120px
                            z-index: 5

                        h2
                            +arial
                            +bold
                            font-size: 18px
                            text-align: center
                            align-self: start
                            color: #ffffff
                            max-width: 135px
                    
                    .advantage__content:first-child
                        border-left: 2px solid #ffffff
                    
                    .advantage__content:last-child
                        border-right: 2px solid #ffffff

                            

                        

        

        




footer
    grid-row-start: 4
    grid-row-end: 5
    width: 100%
    height: 170px
    padding: 10px 0 10px 0
    background-color: #ffffff

    .container
        
        .footer__content
            display: grid
            grid-template-columns: repeat(3,360px/1170px*100%)
            grid-column-gap: 45px/1170px*100%
            grid-template-rows: auto
            justify-content: center

            .footer__info__left
                display: grid
                grid-template-columns: 100%
                grid-template-rows: repeat(3,50px)
                align-self: center

                p
                    +arial
                    +regular
                    font-size: 17px
                    text-align: left
                    align-self: end
            
            .footer__logo__center
                display: grid
                grid-template-columns: auto
                grid-template-rows: 70% 30%

                img
                    max-width: 80px
                    max-height: 105px
                    align-self: center
                    justify-self: center
                p
                    +arial
                    +bold
                    font-size: 17px
                    text-align: center
                    align-self: end

            
            .footer__info__right
                display: grid
                grid-template-columns: auto
                grid-template-rows: 60px 45px
                grid-row-gap: 15px
                align-self: center

                .phones
                    display: grid
                    grid-template-columns: auto
                    grid-template-rows: 50% 50%

                    a   
                        +arial
                        +bold
                        font-size: 20px
                        text-align: right
                        align-self: center
                        text-decoration: none
                        color: #000000
                .right__geo
                    display: grid
                    grid-template-columns: auto
                    grid-template-rows: repeat(3,15px) 

                    a
                        +arial
                        +regular
                        font-size: 14px
                        text-align: right
                        align-self: center
                        text-decoration: none
                    p
                        +arial
                        +regular
                        font-size: 14px
                        text-align: right
                        align-self: center
                        

           