* {
  padding: 0;
  margin: 0; }

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr; }

.container {
  max-width: 1190px;
  padding: 0 10px 0 10px;
  margin: 0 auto; }

.menu__paralax {
  margin: 0;
  position: fixed;
  top: 0; }

header {
  width: 100%;
  height: 130px;
  padding: 10px 0 10px 0; }
  header .header__content {
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 30.7692307692%);
    grid-column-gap: 3.8461538462%; }
    header .header__content .header__logo {
      display: grid;
      grid-template-columns: 30% 70%; }
      header .header__content .header__logo img {
        max-width: 100%;
        max-height: 130px;
        justify-self: center;
        align-self: center; }
      header .header__content .header__logo .header__logo__title {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto; }
        header .header__content .header__logo .header__logo__title .pk {
          font-family: 'Oranienbaum', serif;
          font-weight: 400;
          font-size: 20px;
          align-self: center;
          text-align: center; }
          header .header__content .header__logo .header__logo__title .pk span {
            font-size: 28px; }
    header .header__content .header__contact__info {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: 55px 55px 20px; }
      header .header__content .header__contact__info .header__contact__phone__first {
        display: grid;
        grid-template-columns: 8.3333333333% 83.3333333333% 8.3333333333%;
        grid-template-rows: auto; }
        header .header__content .header__contact__info .header__contact__phone__first a {
          text-decoration: none;
          text-align: center;
          align-self: center;
          color: #000000;
          font-size: 25px;
          font-family: 'Arial', sans-serif;
          font-weight: 700; }
        header .header__content .header__contact__info .header__contact__phone__first img {
          max-width: 30px;
          justify-self: center; }
      header .header__content .header__contact__info .header__contact__phone__second {
        display: grid;
        grid-template-columns: 8.3333333333% 83.3333333333% 8.3333333333%;
        grid-template-rows: auto; }
        header .header__content .header__contact__info .header__contact__phone__second a {
          text-decoration: none;
          text-align: center;
          align-self: center;
          color: #000000;
          font-size: 25px;
          font-family: 'Arial', sans-serif;
          font-weight: 700; }
        header .header__content .header__contact__info .header__contact__phone__second img {
          max-width: 30px;
          justify-self: center; }
      header .header__content .header__contact__info .dostavka {
        text-align: center;
        font-size: 20px;
        color: #0F6FA3;
        font-family: 'Arial', sans-serif;
        font-weight: 700; }
        header .header__content .header__contact__info .dostavka a {
          text-decoration: none;
          color: #0F6FA3; }
    header .header__content .header__aboutus {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: repeat(2, 40px) 50px; }
      header .header__content .header__aboutus .header__obl {
        font-family: 'Arial', sans-serif;
        font-weight: 700;
        font-size: 20px;
        align-self: end;
        text-align: right; }
      header .header__content .header__aboutus .header__city {
        font-family: 'Arial', sans-serif;
        font-weight: 700;
        font-size: 20px;
        color: #2F2E2E;
        align-self: end;
        text-align: right; }
      header .header__content .header__aboutus a {
        font-family: 'Arial', sans-serif;
        font-weight: 700;
        font-size: 18px;
        color: #474747;
        align-self: end;
        text-align: right; }

nav {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  background-color: #213A54;
  z-index: 100; }
  nav .topmenu {
    display: grid;
    grid-template-columns: repeat(7, auto);
    grid-template-rows: 50px;
    list-style: none; }
    nav .topmenu li {
      height: 100%;
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: 100%;
      text-align: center;
      align-items: center;
      position: relative;
      border-left: 1px solid #ffffff; }
      nav .topmenu li a {
        display: grid;
        text-decoration: none;
        outline: none;
        color: #ffffff;
        font-family: 'Arial', sans-serif;
        font-weight: 400;
        font-size: 12px;
        height: 100%; }
        nav .topmenu li a p {
          align-self: center; }
      nav .topmenu li .sub__menu {
        position: absolute;
        top: 100%;
        left: 0;
        min-width: 100%;
        z-index: 10;
        -webkit-transition: 0.5s ease-in-out;
        -moz-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;
        background-color: #213A54;
        box-shadow: 0 0 10px #0e1b27;
        display: none; }
        nav .topmenu li .sub__menu li {
          height: 30px;
          border-bottom: 1px solid #ffffff;
          border-left: none;
          border-right: none; }
          nav .topmenu li .sub__menu li a {
            align-self: center; }
        nav .topmenu li .sub__menu li:last-child {
          border-bottom: none; }
    nav .topmenu li:first-child {
      border-left: none; }
    nav .topmenu li:last-child {
      border-right: none; }
    nav .topmenu li:hover {
      cursor: pointer;
      background-color: #1d2f44;
      -webkit-transition: 0.5s ease-in-out;
      -moz-transition: 0.5s ease-in-out;
      -o-transition: 0.5s ease-in-out;
      transition: 0.5s ease-in-out; }
      nav .topmenu li:hover .sub__menu {
        display: block; }
      nav .topmenu li:hover .sub__menu:hover {
        display: block; }

main {
  min-height: 100vh; }
  main ul {
    margin-left: 20px; }

footer {
  grid-row-start: 4;
  grid-row-end: 5;
  width: 100%;
  height: 170px;
  padding: 10px 0 10px 0;
  background-color: #ffffff; }
  footer .container .footer__content {
    display: grid;
    grid-template-columns: repeat(3, 30.7692307692%);
    grid-column-gap: 3.8461538462%;
    grid-template-rows: auto;
    justify-content: center; }
    footer .container .footer__content .footer__info__left {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: repeat(3, 50px);
      align-self: center; }
      footer .container .footer__content .footer__info__left p {
        font-family: 'Arial', sans-serif;
        font-weight: 400;
        font-size: 17px;
        text-align: left;
        align-self: end; }
    footer .container .footer__content .footer__logo__center {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: 70% 30%; }
      footer .container .footer__content .footer__logo__center img {
        max-width: 80px;
        max-height: 105px;
        align-self: center;
        justify-self: center; }
      footer .container .footer__content .footer__logo__center p {
        font-family: 'Arial', sans-serif;
        font-weight: 700;
        font-size: 17px;
        text-align: center;
        align-self: end; }
    footer .container .footer__content .footer__info__right {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: 60px 45px;
      grid-row-gap: 15px;
      align-self: center; }
      footer .container .footer__content .footer__info__right .phones {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 50% 50%; }
        footer .container .footer__content .footer__info__right .phones a {
          font-family: 'Arial', sans-serif;
          font-weight: 700;
          font-size: 20px;
          text-align: right;
          align-self: center;
          text-decoration: none;
          color: #000000; }
      footer .container .footer__content .footer__info__right .right__geo {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(3, 15px); }
        footer .container .footer__content .footer__info__right .right__geo a {
          font-family: 'Arial', sans-serif;
          font-weight: 400;
          font-size: 14px;
          text-align: right;
          align-self: center;
          text-decoration: none; }
        footer .container .footer__content .footer__info__right .right__geo p {
          font-family: 'Arial', sans-serif;
          font-weight: 400;
          font-size: 14px;
          text-align: right;
          align-self: center; }

/*# sourceMappingURL=total.css.map */
